<div class="modal fade" id="addBranch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить центр йоги</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="addBranchReload">
               <form asp-action="CreateBranch" asp-controller="Branch">
                                   
                   <input name="name" type="text" class="form-control mb-2" placeholder="Название" required>
                   <input name="info" type="text" class="form-control mb-2" placeholder="Информация о центре">
                   <input name="address" type="text" class="form-control mb-2" placeholder="Адрес">
                   @if (@ViewBag.Admin.Count == 0)
                   {
                       <p>Не найдено ни одного администратора .</p>
                   }
                   else
                   {
                       <label for="">Выберете администратора:</label>
                       <select class="form-control mb-2" name="adminId" onchange="validateAdminIds()" id="adminId">
                           <option selected value="no">Выберите администратора</option>
                           @foreach (Employee admin in @ViewBag.Admin)
                           {
                               <option value="@admin.Id">@admin.UserName</option>
                           }
                       </select>
               
                       <input type="submit" class="btn btn-outline-secondary" value="Добавить" id="send">
                   }
               </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>