
@model CheckPasswordModelView

<div class="form-group">
    <label>Введите пароль логина</label><br/>
    <input type="password" class="form-control password" asp-for="@Model.Password"/>
    <span asp-validation-for="@Model.Password"></span>
</div>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}