
@model ChangePasswordModelView
<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение пароля</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Введите текущий пароль<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="currentPassword">
                        <span class="text-danger" id="invalidCurPassword"></span>
                    </div>
                    <div class="form-group">
                        <label>Введите новый пароль<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="newPassword">
                        <span class="text-danger" id="invalidNewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label>Подтвердите пароль<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="newPasswordConfirm">
                        <span class="text-danger" id="invalidNewPasswordConfirm"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Закрыть</button>
                    <button type="button" id="changePasswordSubmit" class="btn btn-secondary">Сохранить</button>
                </div>
        </div>
    </div>
</div>
<script>
    function checkLength(text, length = 6) {
        if (text.length < length) {
            return false;
        }
        else {
            return true;
        }
    }
    $('#changePasswordSubmit').on('click', function () {
        var curPsw = $('#currentPassword').val();
        var truth = true;
        if (!checkRequired(curPsw)) {
            $('#invalidCurPassword').html('Введите текущий пароль');
        }
        else {
            $.get('@Url.Action("CheckPassword", "Validation")/?currentPassword=' + curPsw, function (data) {
                if (data) {
                    $('#invalidCurPassword').html('');
                    var newPsw = $('#newPassword').val();
                    if (!checkRequired(newPsw)) {
                        $('#invalidNewPassword').html('Введите новый пароль');
                        truth = false
                    }
                    else if (!checkLength(newPsw)) {
                        $('#invalidNewPassword').html('Минимальная длина пароля - 6 символов');
                        truth = false;
                    }
                    else {
                        $('#invalidNewPassword').html('');
                    }
                    var newPswConfirm = $('#newPasswordConfirm').val();
                    if (!checkRequired(newPswConfirm)) {
                        $('#invalidNewPasswordConfirm').html('Подтвердите пароль');
                        truth = false
                    }
                    else if (newPswConfirm != newPsw) {
                        $('#invalidNewPasswordConfirm').html('Пароли не совпадают');
                        truth = false;
                    }
                    else {
                        $('#invalidNewPasswordConfirm').html('');
                    }
                    if (truth) {
                        $('#changePasswordModal').modal('hide');
                        $.ajax({
                            url: '@Url.Action("ChangePasswordAjax", "Employees")',
                            type: 'POST',
                            datatype: 'json',
                            cache: false,
                            data: {
                                'CurrentPassword': curPsw,
                                'NewPassword': newPsw,
                                'PasswordConfirm': newPswConfirm
                            },
                            success: function (data) {
                                if (data) {
                                    document.location.reload();
                                }
                            }
                        })
                    }
                }
                else {
                    $('#invalidCurPassword').html('Неверный пароль');
                }
            })
        }
    })
</script>