

@{
    Layout = "_Layout";
}

<p class="text-center">На ваш адрес электронной почты поступит письмо с текстом:
    "Вы запросили восстановление пароля. Пожалуйста, перейдите по этой <a href="#">ссылке</a>, 
    придумайте и введите ваш новый пароль."</p>